<app-navbar></app-navbar>

<div class="border">
  <div class="container">
    <!-- Start and Destination of departure-->
    <div>
      <span>From</span>
      <select>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
    </div>
    <div>
      <span>To</span>
      <select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
    </div>

    <!-- Time to departure-->
    <div>
      <label>Start date</label>
      <input type="date" placeholder="12-12-1000">
    </div>

    <div>
      <label>End date</label>
      <input type="date" placeholder="12-12-1000">
    </div>
  </div>

  <!-- Companies allowed in site-->
  <div>
    <label>Companies</label>
    <select>
      <option>Frecciarossa</option>
      <option>Trenitalia</option>
    </select>
  </div>
</div>
